@using static dn32.infra.DnDocExtension

@{
    ViewData["Title"] = "Autentication".G();
}

<div class="auth-container">

    <form method="post" action="/DnDoc/Logout">
        <div class="form-group">
            <label for="user">@("Token".G())</label>
            <textarea class="form-control" name="token" style="height: 361px;">@ViewBag.Token</textarea>
        </div>
       
        <button type="submit" class="btn btn-primary">@("Logout".G())</button>
    </form>

</div>
