


@model List<EntityModelAndName>

@{
    var title = "Entidades disponíveis";
    ViewData["Title"] = title.G();
}

<div class="services-container">
    <span class="general-title">@title.G() (@Model.Count)</span>

    @{
        foreach (var entity in Model)
        {
            <div class="service">
                <span class="title"><a href="/dndoc/modelo?Nome=@entity.FullName">@entity.FriendlyName</a></span>
                <span class="Descricaoription">@entity.FriendlyName</span>
            </div>
        }
    }
</div>
